Options +SymLinksIfOwnerMatch
RewriteEngine on

RewriteCond $1 !^(index\.php|img|images|js|css|src|dist|plugins|robots\.txt|favicon\.ico|\.JPG|assets|\.js|style.css|\.PDF|\.pdf)
RewriteRule ^(.+)$ /beta/index.php?/$1 [L]

<FilesMatch "\.(GIF|gif|JPE?G|jpe?g|PNG|png|svg|PDF|pdf)$">
Satisfy any
order allow,deny
allow from all
</FilesMatch>

# AuthName "admin"
# AuthType Basic
# AuthUserFile /work/.htpasswd
# require valid-user